---
- name: Deploy Gonado
  hosts: gonado
  become: yes

  vars_files:
    - ../group_vars/all.yml

  roles:
    - common
    - docker
    - nginx
    - role: ssl
      when: ssl_enabled | default(false)
    - app
